body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../images/OJo.jpg);
    background-repeat: no-repeat;

}
header{
    background-color: #009900;
    text-align: center;
    margin: 10px;
    height: 40px;
}
footer{
    background-color: #009900;
    text-align: center;
    margin: 10px;
    height: 40px;
}
.title{
    color: white;
}
.job{
    padding-top: 10px;
    }
#ourmenu{
    display: table;
    border-spacing: 15px;
}
#tableRow{
    display: table-row;
}
#workDay{
    font: 17px;
    color: #cc0000;
    line-height: 40px;
}
#tableRow section{
    display: table-cell;
    border: 2px solid #009900;
    padding: 15px;
}
#button, #newChoise{
    display: block;
    margin: auto;
    width: 180px;
    cursor: pointer;
}
.pasta_riso{
    border-color: #009900;
    border-radius: 5px;
    border-style: dashed;
    line-height: 25px;
}
.special{
    font-size: 20px;
    font-weight: bold;
    color: #e62e00;
    line-height: 40px;
}
input.food{
    color: #800000;
    font-size: 14px;
    line-height: 30px;
}
h1, h2{
    font-weight: bolder;
    color: #e62e00;
}
p{
    font-size: 17px;
    color: #009900;
}
th{
    color: #009900;
}
td{
    color: #cc0000;
}
th, td{
    text-align: left;
    font-size: 17px;
}
section{
    width: 640px;
}